{% extends 'base.html' %}

<!-- Header -->
{% block head %}
About
{% endblock %}

<!-- Body -->
{% block body %}
<div style="text-align: center">
    <h1>About</h1>
    <br>
    <p style="margin-left: 20%; margin-right: 20%">For our capstone project, our team of
        music enthusiasts and programmers worked on creating and training a neural network
        to predict music genres from a curated dataset of song clips. This project helped
        develop our collaborative skills as software engineers as well as build new skills
        in machine learning and software implementation.</p>
</div>
{% endblock %}