{% extends 'base.html' %}

<!-- Header -->
{% block head %}
    Top-n Music Genre Classification Neural Network
{% endblock %}

<!-- Body -->
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <!-- Title and explanation of program -->
                <h1 id="title">Top-n Music Genre Classification Neural Network</h1>
                <p>Type a YouTube URL or upload a song, and you will receive a formatted
                    top-n list of the most likely genres that song clip belongs to. The list
                    will be sorted by confidence values in descending order</p>
            </div>
            <div class="col-3 form-group">
                <body>
                    <!-- Form for audio submission-->
                    <form method="POST" action="" enctype="multipart/form-data" class="form">
                        <p>Submit a Song URL:</p>
                        <p><input type="text" name="text" class="form-control"></p>
                        <p>Submit an Audio File:</p>
                        <p><input type="file" name="file" class="form-control"></p>
                        <br>
                        <p class="submit"><input type="submit" value="Submit"></p>
                    </form>
                </body>
            </div>
            <!-- Wireframe mentioned an image here, leaving open until image is decided-->
            <div class="col-3">
                <p class="placeholder">placeholder text</p>
            </div>
        </div>
    </div>
    <div class="container dashboard">
        <div class="row">
            <div class="col-4 dash-border" id="narrow-data">
                <div class="row small-dash-row">
                    <img src="static/img/placeholder_wave.png" class="img-thumbnail mx-auto small-plot">
                </div>
                <div class="row small-dash-row">
                    <img src="static/img/placeholder_spectrogram.png" class="img-thumbnail mx-auto small-plot">
                </div>
                <div class="row small-dash-row">
                    <img src="static/img/placeholder_mfccs.png" class="img-thumbnail mx-auto small-plot">
                </div>
            </div>
            <div class="col-8" id="wide-data">
                <div class="row wide-dash-row">
                    <div class="dash-text-display d-flex align-items-center justify-content-center">Audio Sample: Title Goes Here</div>
                </div>
                <div class="row wide-dash-row">
                    <div class="crop-image-container dash-border">
                        <img src="static/img/placeholder_predictions.png" class="img-thumbnail mx-auto wide-plot">
                    </div>
                </div>
                <div class="row wide-dash-row">
                    <div class="dash-text-display d-flex align-items-center justify-content-center">Display Status Messages Here</div>
                </div>
                <div class="row wide-dash-row">
                    <div class="dash-border" id="dash-model-metrics">
                        <div class="row title justify-content-center">Model Metrics</div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}