{% extends 'base.html' %}

<!-- Header -->
{% block head %}
    Top-n Music Genre Classification Neural Network
{% endblock %}

<!-- Body -->
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <!-- Title and explanation of program -->
                <h1 id="title">Top-n Music Genre Classification Neural Network</h1>
                <p>Type a YouTube URL or upload a song, and you will receive a formatted
                    top-n list of the most likely genres that song clip belongs to. The list
                    will be sorted by confidence values in descending order</p>
            </div>
            <div class="col-3 form-group">
                <body>
                    <!-- Form for audio submission-->
                    <form method="POST" action="/fetch_data" enctype="multipart/form-data" class="form" id="audio-file-form">
                        <p>Submit a Song URL:</p>
                        <p><input type="text" name="text" class="form-control" id="audio-url"></p>
                        <p>Submit an Audio File:</p>
                        <p><input type="file" name="file" class="form-control" id="audio-file"></p>
                        <br>
                        <p class="submit"><input type="submit" value="Submit"></p>
                    </form>
                </body>
            </div>
            <!-- Wireframe mentioned an image here, leaving open until image is decided-->
            <div class="col-5">
                <img src="static/img/dj.jpg" class="placeholder image-fluid">
            </div>
        </div>
        <div class="row">
            <p class="error">{{data.error}}</p>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/form.js')}}"></script>
{% endblock %}