{% extends 'base.html' %}

<!-- Header -->
{% block head %}
    Top-n Music Genre Classification Neural Network
{% endblock %}

<!-- Body -->
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <!-- Title and explanation of program -->
                <h1 id="title">Top-n Music Genre Classification Neural Network</h1>
                <p>Type a YouTube URL or upload a song, and you will receive a formatted
                    top-n list of the most likely genres that song clip belongs to. The list
                    will be sorted by confidence values in descending order</p>
            </div>
            <div class="col-3 form-group">
                <body>
                    <!-- Form for audio submission-->
                    <form method="POST" action="" enctype="multipart/form-data" class="form">
                        <p>Submit a Song URL:</p>
                        <p><input type="text" name="text" class="form-control"></p>
                        <p>Submit an Audio File:</p>
                        <p><input type="file" name="file" class="form-control"></p>
                        <br>
                        <p class="submit"><input type="submit" value="Submit"></p>
                    </form>
                </body>
            </div>
            <!-- Wireframe mentioned an image here, leaving open until image is decided-->
            <div class="col-3">
                <p class="placeholder">placeholder text</p>
            </div>
        </div>
    </div>
{% endblock %}