{% extends 'base.html' %}

<!-- Header -->
{% block head %}
Team
{% endblock %}

<!-- Body -->
{% block body %}
<div class="container">
    <div class="row">
        <!-- Short write-ups/photos needed, all placeholder for now -->

        <!-- Brooks info -->
        <div class="col-lg">
            <div class="card mb-3">
                <img class="card-img-top" src="static/img/brooks.jpg" alt="Brooks">
                <div class="card-body">
                  <h5 class="card-title">Brooks Burns</h5>
                  <p class="card-text">
                      <b>Favorite Song:</b> Shadows of Tomorrow by Madvillain feat. Quasimoto<br>
                      <b>Genre:</b> Hip Hop<br>
                      <b>Model's Guess:</b> Hip Hop
                  </p>

                </div>
            </div>
        </div>

        <!-- Noah info -->
        <div class="col-lg">
            <div class="card mb-3">
                <img class="card-img-top" src="static/img/noah.png" alt="Noah">
                <div class="card-body">
                  <h5 class="card-title">Noah Lopez</h5>
                  <p class="card-text">
                      <b>Favorite Song:</b> Broken Clocks by SZA<br>
                      <b>Genre:</b> R&B<br>
                      <b>Model's Guess:</b> Hip Hop
                  </p>
                </div>
            </div>
        </div>

        <!-- Amin info -->
        <div class="col-lg">
            <div class="card mb-3">
                <img class="card-img-top" src="static/img/amin.JPG" alt="Amin">
                <div class="card-body">
                  <h5 class="card-title">Amin Malik</h5>
                  <p class="card-text">
                      <b>Favorite Song:</b> Die Hard by Kendrick Lamar ft. Blxst & Amanda Reifer<br>
                      <b>Genre:</b> Hip Hop<br>
                      <b>Model's Guess:</b> Electronic
                  </p>
                </div>
            </div>
        </div>

        <!-- Sydney info -->
        <div class="col-lg">
            <div class="card mb-3">
                <img class="card-img-top" src="static/img/Sydney.JPG" alt="Sydney">
                <div class="card-body">
                  <h5 class="card-title">Sydney Somerfield</h5>
                  <p class="card-text">
                      <b>Favorite Song:</b> Tell Your Story Walking by Deb Talan<br>
                      <b>Genre:</b> Folk<br>
                      <b>Model's Guess:</b> Folk
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}