{% extends 'base.html' %}

<!-- Header -->
{% block head %}
Team
{% endblock %}

<!-- Body -->
{% block body %}
<div class="container">
    <div class="row">
        <!-- Short write-ups/photos needed, all placeholder for now -->

        <!-- Brooks info -->
        <div class="col-lg">
            <div class="card mb-3">
                <img class="card-img-top" src="static/img/logo.png" alt="Brooks">
                <div class="card-body">
                  <h5 class="card-title">Brooks Burns</h5>
                  <p class="card-text">This is the write-up for Brooks...</p>

                </div>
            </div>
        </div>

        <!-- Noah info -->
        <div class="col-lg">
            <div class="card mb-3">
                <img class="card-img-top" src="static/img/noah.png" alt="Noah">
                <div class="card-body">
                  <h5 class="card-title">Noah Lopez</h5>
                  <p class="card-text">This is the write-up for Noah...</p>
                </div>
            </div>
        </div>

        <!-- Amin info -->
        <div class="col-lg">
            <div class="card mb-3">
                <img class="card-img-top" src="static/img/logo.png" alt="Amin">
                <div class="card-body">
                  <h5 class="card-title">Amin Malik</h5>
                  <p class="card-text">This is the write-up for Amin...</p>
                </div>
            </div>
        </div>

        <!-- Sydney info -->
        <div class="col-lg">
            <div class="card mb-3">
                <img class="card-img-top" src="static/img/logo.png" alt="Sydney">
                <div class="card-body">
                  <h5 class="card-title">Sydney Somerfield</h5>
                  <p class="card-text">This is the write-up for Sydney...</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}