.form {
    padding: 10px;
    border: 1px solid;
    background-color: white;
    border-radius: 10px;
    font-size: 115%;
}

.placeholder {
    padding: 10px;
    border: 1px rebeccapurple;
    background-color: rebeccapurple;
    border-radius: 10px;
}

#title {
    font-family: "Times New Roman", serif;
}

.submit {
    text-align: center;
}

body {
    background-color: #ECECEC;
}