.form {
    padding: 10px;
    border: 1px solid;
    background-color: white;
    border-radius: 10px;
    font-size: 115%;
}

.placeholder {
    padding: 10px;
    border: 1px rebeccapurple;
    background-color: rebeccapurple;
    border-radius: 10px;
}

#title {
    font-family: "Times New Roman", serif;
}

.submit {
    text-align: center;
}

body {
    background-color: #ECECEC;
}

/* Dashboard css */
.dashboard {
    padding-top: 100px;
}

.dash-border {
    border-style: solid;
    border-color: #2C0955;
    border-width: 5px;
    border-radius: 10px;
}

.small-dash-row {
    padding-left: 2%;
    padding-right: 2%;
}

.small-plot {
    margin: 2%;
}

#dash-model-metrics {
    width: 96%;
    padding: 2%;
    margin: 2%;
}

.row.title {
    font-family: "Times New Roman", serif;
    padding: 2%;
}

.dash-text-display {
    background-color: #0B0A0A;
    color: white;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
    border-radius: 10px;
}

.crop-image-container {
    overflow: hidden;
    margin: 2%;
}

.wide-plot {
    margin-bottom: -10%;
}